<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Enquiry Details</title>
    <link rel="stylesheet" href="/static/css/admin-enquiry.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bonheur+Royale&family=Comic+Neue:wght@700&family=Cookie&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=IM+Fell+DW+Pica:ital@0;1&family=Italiana&family=Karla:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Lobster&family=Lobster+Two&family=Marcellus&family=Merriweather:wght@300&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400;1,500&family=Quintessential&family=Roboto:wght@900&family=Sacramento&family=Satisfy&family=Tangerine&family=WindSong&family=Work+Sans:wght@500&family=Young+Serif&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/226d183df1.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="static/logo.jpeg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="leftnav" id="menu">
            <nav>
                <img src="/static/logo.jpeg" class="logo" alt="Dashborad" title="Dashboard" width="60px" height="60px"
                    style="border-radius: 50%; padding: 7px 0; margin-left: 30px;">
                <ul>
                    <li><a href="/admin" title="Home"><i class="fa-solid fa-house-user"></i>&nbsp;Dashboard</a></li>
                    <li><a href="/user-contact-info" title="Contact Form Info"><i
                                class="fa-solid fa-id-card"></i>&nbsp;User Inquiry</a></li>
                    <li><a href="/event-created-admin" title="Event Created By User List"><i
                                class="fa-solid fa-calendar-days"></i>&nbsp;Created Events</a></li>
                    <li><a href="/events-approval" title="Pending Events"><i
                                class="fa-solid fa-users"></i>&nbsp;Approval Panel</a></li>
                </ul>
            </nav>
        </div>

        <div class="rightnav">
            <form action="/search" method="GET" id="search-form">
                <input type="search" name="q" id="search-input" placeholder="Search" onkeyup="searchAndHighlight()">
                <label for="search-input"><i class="fa-solid fa-magnifying-glass"></i></label>

                <button id="btn-lo">
                    <a href="/admin-logout">Log out</a>
                </button>
            </form>
        </div>
    </header>

    <main>
        <div class="ae-cont-intro">
            <p>Welcome to the 'Created Events' section. Here, all the events created by user so far will be displayed
                for your access!</p>
        </div>

        <div class="top-cont">
            <div class="h-admin">
                <h3>User Created Events Information</h3>
            </div>
        </div>
        <div class="ae-cont">
            <table>
                <thead>
                    <tr>
                        <th>Event ID</th>
                        <th>Username</th>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Location of Event</th>
                        <th>Theme</th>
                        <th>No. of Attendees</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in pending_events %}
                    <tr>
                        <td> {{ event[7] }} </td>
                        <td> {{ event[0] }}</td>
                        <td> {{ event[1] }}</td>
                        <td>{{ event[2] }}</td>
                        <td> {{ event[3] }}</td>
                        <td> {{ event[4] }}</td>
                        <td>{{ event[5] }}</td>
                        <td> {{ event[6] }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer style="margin: 50px; padding-bottom: 30px;">
        <h3 style="text-align: center; color: #a58e74;  font-family: 'marcellus', sans-serif; font-weight: lighter; font-size: 1.3em; letter-spacing: 2px;">
            &copy; EventAlchemy Inc. Designed by Trupti Bansode</h3>
    </footer>
    

    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }



        function searchAndHighlight() {
            var input = document.getElementById("search-input");
            var filter = input.value.toLowerCase();
            var table = document.querySelector("table");
            var rows = table.querySelectorAll("tbody tr");

            rows.forEach(function (row) {
                var cells = row.getElementsByTagName("td");
                var rowText = "";
                for (var i = 0; i < cells.length; i++) {
                    rowText += cells[i].textContent.toLowerCase() + " ";
                }

                if (rowText.includes(filter)) {
                    row.classList.remove("hidden");
                } else {
                    row.classList.add("hidden");
                }
            });
        }



    </script>
</body>

</html>