<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/mystyle.css">
    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="shortcut icon" href="static/logo.jpeg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bonheur+Royale&family=Comic+Neue:wght@700&family=Cookie&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=IM+Fell+DW+Pica:ital@0;1&family=Italiana&family=Karla:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Lobster&family=Lobster+Two&family=Marcellus&family=Merriweather:wght@300&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400;1,500&family=Quintessential&family=Roboto:wght@900&family=Sacramento&family=Satisfy&family=Tangerine&family=WindSong&family=Work+Sans:wght@500&family=Young+Serif&display=swap"
        rel="stylesheet">
    <title>Schedule of events</title>
</head>

<body>
  <header>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/"><img src="static/logo.jpeg" alt="logo-eventalchemy" height="60px" width="60px"></a>
            </div>
            <div class="menunav">

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/eventSchedule">Event Listings</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/testimonials">Customer Reviews</a></li>
                    <!--<li><a href="/login">Log-in</a></li>-->
                    <li><a href="/user-profile">My Profile</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <H1>Our event schedule</H1>
    </div>
    
    <div class="separator" id="paraevent">
        <p> The following is a little brief about all the events we have planned for the year!</p>
    </div>
</header>
    <main>
        <div id="circles1">
            <div id="verticalline"></div>
            <div class="event1"></div>
        </div>
        <div class="mainevents1">
            <div class="cal1">
                <h5>4th January, 2024</h5>
            </div>
            <div class="event-one">
                <img src="static/img3 (1).jpg" alt="img-one" width="350px" height="450px">
                <div class="texts">
                    <p> <b>Enchanted Autumn Wedding - January 4, 2024</b>
                        <br> <br>
                        Join us on January 4, 2024, as we celebrate a union of love and commitment in the breathtaking
                        embrace of autumn. Our Enchanted Autumn Wedding promises to be a day of romance, joy, and
                        unforgettable moments. <br>
                        <br>
                        <b>Event Details:</b><br><br>
                        - <b>Date:</b> January 4, 2024 <br><br>
                        - <b>Time:</b> 4:00 PM - 10:00 PM <br><br>
                        - <b>Location:</b> Serenity Gardens, nestled in the heart of nature's splendor. <br><br>
                        <br>
                        As the leaves change and the air turns crisp, love will take center stage at our Enchanted
                        Autumn Wedding on January 4, 2024. We cordially invite you to share in this magical day as two
                        souls begin a new chapter together.
                    </p>
                    <br><br><br>
                    <hr>
                </div>
            </div>
        </div>
        <div id="circles2">
            <div id="verticalline1"></div>
            <div class="event2"></div>
            <div class="cal2">
                <h5>6th January, 2024</h5>
            </div>
        </div>
        <div class="event-one">
            <div class="texts">
                <p><b>Birthday Celebration Extravaganza</b><br> <br>

                    Come one, come all to the most spectacular birthday celebration of the year! We're excited to invite
                    you to join us for a day filled with laughter, joy, and unforgettable memories as we celebrate
                    <i>Augustine's</i> birthday. <br> <br>

                    <b>Event Details:</b><br><br>
                    - <b>Date</b>: January 6, 2024 <br><br>
                    - <b>Time</b>: 7.00 PM to 9.00 PM <br> <br>
                    - <b>Location</b>: Everlore venues, Cornelia Street, 16th avenue, Fairyland. <br> <br>

                    <br>

                    This promises to be a day filled with laughter, joy, and wonderful memories. We can't wait to
                    celebrate with you and make our client's birthday truly special. Your presence is the best gift of
                    all!
                    <br><br><br>
                    <hr>
                </p>
            </div>
            <img src="static/birthday-celebration.jpg" alt="img-one" width="400px" height="400px">
        </div>
        </div>
        <div id="circles3">
            <div id="verticalline2"></div>
            <div class="event3"></div>
            <div class="cal3">
                <h5>20th February, 2024</h5>
            </div>
        </div>
        <div class=" event-one event-three">
            <img src="static/eng-cel-flatlay.jpg" alt="" height="450px" width="350px">
            <div class="texts">
                <p><b>Engagement Celebration</b>
                    <br><br>
                    You're cordially invited to join us for a joyous occasion as we celebrate the engagement of <span
                        class="decor">Ms. Betty Bowery and Mr. James Sjober</span> on February 20, 2024.
                    <br><br>
                    <b>Event Details:</b><br><br>
                    - <b>Date:</b> February 20, 2024    <br><br>
                    - <b>Time:</b> 3.00 PM to 6.00 PM <br><br>
                    - <b>Location:</b> Rhode Venues, Woodwale, Archerville<br><br>

                    <b>Event Highlights:</b> <br><br>

                    Witness the beautiful moment when <span class="decor">Betty and James</span> exchange their vows of
                    love and commitment.
                    Join us in celebrating the love that <span class="decor">Betty and James</span> share as they embark
                    on this new chapter of their journey together.
                    Enjoy a delectable spread of culinary delights, from appetizers to desserts, prepared to tantalize
                    your taste buds.
                    Groove to the rhythms of live music as we create an atmosphere of love and merriment.
                    Share heartwarming conversations, laughter, and make lasting memories with friends and family.
                </p> <br> <br>
                <hr>
            </div>
        </div>
        <div id="circles4">
            <div id="verticalline3"></div>
            <div class="event4"></div>
            <div class="cal4">
                <h5>24th February, 2024</h5>
            </div>
        </div>
        <div class="event-one">
            <div class="texts">
                <p><b>Tech Vision Gala: A Tech Innovators Award Night</b>
                    <br><br>
                    We are thrilled to invite you to a prestigious evening honoring the brilliant minds and innovators
                    who are shaping the future of technology in our city. Join us for an inspiring night of recognition,
                    celebration, and innovation.
                    <br><br>
                    <b>Event Details:</b> <br><br>

                    - <b>Date:</b> February 24, 2024 <br><br>
                    - <b>Time:</b> 8.00 PM to 11.30 PM<br><br>
                    - <b>Location:</b> Seagull Estate, 13th street, Coney Island.<br><br>

                    <b>Event Highlights:</b><br><br>
                    Prepare to be inspired as we recognize and celebrate the remarkable achievements of tech innovators
                    who are pushing boundaries and making a profound impact on our community.
                    Witness the moment when our city's finest tech visionaries receive well-deserved recognition for
                    their outstanding contributions to the industry.
                    Connect with fellow tech enthusiasts, entrepreneurs, and industry leaders. This event provides a
                    unique platform to forge new connections and exchange ideas.
                    Explore a showcase of the latest innovations and technologies that are driving our city's tech
                    ecosystem forward. Get a glimpse of the future!
                    Enjoy a delightful culinary experience with a gourmet dinner that will tantalize your taste buds and
                    add to the evening's sophistication.
                </p> <br><br>
                <hr>
            </div>
            <img src="static/Award-night.jpg" alt="" height="450px" width="350px">
        </div>
        <div id="circles5">

            <div class="event5"></div>
            <div class="cal5">
                <h5>24th February, 2024</h5>
            </div>
        </div>
        <div class="event-one event-three">
            <img src="static/img2 (1).jpg" alt="" height="450px" width="500px">
            <div class="texts">
                <p><b>Enchanted Garden Soirée: An Evening of Elegance Under the Stars</b>
                    <br><br>
                    Step into a magical realm of twinkling fairy lights and exquisite ambiance at the Enchanted Garden Soirée, a captivating evening designed for those who appreciate the beauty of nature combined with the allure of refined dining.
                    <br><br>
                    <b>Event Details:</b> <br><br>

                    - <b>Date:</b> February 24, 2024   <br><br>          
                    - <b>Time:</b> 8.00 PM to 11.30 PM<br><br>
                    - <b>Location:</b> Seagull Estate, 13th street, Coney Island.<br><br>

                    <b>Event Highlights:</b><br><br>
                    Embark on a sensory journey as you enter a garden transformed by the soft glow of fairy lights, creating an enchanting atmosphere that is both intimate and magical. The evening begins with a welcome reception, allowing guests to mingle and enjoy the enchanting surroundings.
Indulge in a gourmet feast curated by renowned chefs, featuring a carefully crafted menu inspired by the season's finest ingredients. Dine at elegantly adorned tables nestled among the garden blooms, with each course accompanied by the gentle melodies of live acoustic music.
Participate in a wine and spirits tasting experience, guided by expert sommeliers. Sample a selection of fine wines and artisanal cocktails, perfectly paired with the evening's culinary delights.
                </p> <br><br>
                <hr>
            </div>
        </div>
        </div>
        <div class="endpara1">
            <p>We have *even* more events lined up for the entire month of December and so on!! </p>
            <p>Wanna be a part of any of these events? <br>click below and leave a message to let
                us know! Our team will surely get back to you!</p>
            <br>
            <p>Got an event to celebrate? Think no more! we're here to help you achieve the *perfect* celebration of
                your dreams!!! <br> Book an appointment now to get started!!!❁</p> <br>
            <button class="btn-reg" type="button" onclick="openPage('/contact')">BOOK AN APPOINTMENT</button>
            <button class="btn-reg" type="button" onclick="openPage('/service')">SEE OUR PRICING</button>
        </div>
    </main>
    <footer style="background-color: #5d573f;">
        <div class="foot-cont">
           <a href="/"> <img src="static/logo.jpeg" alt="EventAlchemy" width="200px"></a>
            <div class="footer0">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/eventSchedule">Event Listings</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/testimonials">Customer Reviews</a></li>
                    <li><a href="/login">Log-in</a></li>
                </ul>
            </div>
            <div class="footer1">
                <h4>Address:</h4>
                <p> 13th floor, Labyrinth Towers, Cornelia Street, 16th Avenue, Wonderland. Pin Code: 401989</p>
            </div>
            <div class="footer1">
                <h4>FAQs</h4>
                <p style="font-size: 16px; color:#fff; letter-spacing: normal; margin: 5px 0;">How can i book for an event?</p>
                <p>You can fill out our Contact form simply and our team will get back to you!</p> <br><br>
                <p style="font-size: 16px; color:#fff; letter-spacing: normal; margin: 5px 0;">What is the payment process like?</p>
                <p>you will have to pay a booking advance amount to us before we proceed with the event plan!</p>
            </div>
        </div>
        <div class="foot-cont2">
            <div class="socials">
                <p>Follow us on social media:</p>
                <div class="socialimg">
    
                <div class="twitter">
                <img src="static/twitter.jpg" alt="twitter" title="twitter" onclick="twitter()" width="40px" height="40px">
            </div>
    
                <div class="instagram">
                <img src="static/instagram2.jpg.jpeg" alt="instagram" title="instagram" onclick="instagram()"  width="40px" height="40px">
            </div>
                <div class="linkedin">
                <img src="static/linkedin.jpg" alt="linked-in" title="linked-in" onclick="linkedin()" width="40px" height="40px">
            </div>
    
                <div class="facebook">
                <img src="static/facebook.jpg" alt="Facebook" title="Facebook" onclick="facebook()" width="40px" height="40px" >
            </div>
                <div class="snapchat">
                <img src="static/snapchat.jpeg" alt="snapchat" title="snapchat" onclick="snapchat()" width="40px" height="40px">
            </div>
            </div>
            </div>
        </div>
        <div id="authorname">
            <p> All rights reserved © EventAlchemy Inc. 2023. Designed by Trupti Bansode.</p>
        </div>
    </footer>
    
    
    
    <script>
    
        function twitter(){
            window.location.href="https://twitter.com/"
        }
    
        function instagram(){
            window.location.href="https://instagram.com/tobesotrupti?igshid=NzZlODBkYWE4Ng=="
        }
    
        function linkedin(){
            window.location.href="https://www.linkedin.com/in/truptibansode"
        }
    
        function facebook(){
            window.location.href="https://www.facebook.com/profile.php?id=100016222260085&mibextid=ZbWKwL"
        }
    
        function snapchat(){
            window.location.href="https://www.snapchat.com/add/trupti1910?share_id=JIdkDfNkgK0&locale=en-US"
        }
    

        
        var currentPageURL = window.location.pathname;

// Get all the <a> elements within the navigation menu
var menuLinks = document.querySelectorAll(".menunav a");

for (var i = 0; i < menuLinks.length; i++) {
    var link = menuLinks[i];
    if (link.getAttribute("href") === currentPageURL) {
        link.parentNode.classList.add("active");
        break; // Stop looping after the first match is found
    }
}
    </script>



    <script>
        function openPage(url) {
            window.location.href = url;
        }

    </script>
</body>

</html>