<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/loginpage.css">
    <link rel="shortcut icon" href="static/logo.jpeg" type="image/x-icon">
    <script src="static/login.js"></script>
    <script src="https://kit.fontawesome.com/226d183df1.js" crossorigin="anonymous"></script>
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bonheur+Royale&family=Comic+Neue:wght@700&family=Cookie&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=IM+Fell+DW+Pica:ital@0;1&family=Italiana&family=Karla:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Lobster&family=Lobster+Two&family=Marcellus&family=Merriweather:wght@300&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400;1,500&family=Quintessential&family=Roboto:wght@900&family=Sacramento&family=Satisfy&family=Tangerine&family=WindSong&family=Work+Sans:wght@500&family=Young+Serif&display=swap"
        rel="stylesheet">
</head>

<body class="registerbody">
    <div class="container1">
        <div class="form-box-1">
            <h1 id="log-title">Reset Password</h1>
            <form action="/reset_password" method="post" enctype="multipart/form-data">
                <div class="input-feild">
                    <div class="input-field">
                        <i class="fa-solid fa-at"></i>
                        <input type="text" placeholder="Enter your username." id="username" name="username" required>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-eye"></i>
                        <input type="password" placeholder="Enter New password" maxlength="8" id="new_password" name="new_password" required>
                    </div>
                    <p>Don't have an account? <a href="/register">CREATE ACCOUNT</a></p>
                </div>
                <div class="btn-feild">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
        {% endif %}
        {% endwith %}
</body>

</html>