<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/mydesign.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Services</title>
    <link rel="shortcut icon" href="static/logo.jpeg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/226d183df1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bonheur+Royale&family=Comic+Neue:wght@700&family=Cookie&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=IM+Fell+DW+Pica:ital@0;1&family=Italiana&family=Karla:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Lobster&family=Lobster+Two&family=Marcellus&family=Merriweather:wght@300&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400;1,500&family=Quintessential&family=Roboto:wght@900&family=Sacramento&family=Satisfy&family=Tangerine&family=WindSong&family=Work+Sans:wght@500&family=Young+Serif&display=swap"
        rel="stylesheet">
</head>

<body class="servicesbody">
    <header>
        <nav>
            <div class="menu">
                <div class="logo">
                    <a href="/"><img src="static/logo.jpeg" alt="logo-eventalchemy" height="60px" width="60px"></a>
                </div>
                <div class="menunav">
    
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/eventSchedule">Event Listings</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/testimonials">Customer Reviews</a></li>
                        <!--<li><a href="/login">Log-in</a></li>-->
                        <li><a href="/user-profile">My Profile</a></li>
    
                    </ul>
                </div>
            </div>
        </nav>

        <div id="pagename">
            <h1>SERVICES AND PRICING</h1>
        </div>
        <div class="circle2">
        </div>
        <div class="circle2-1">
        </div>
    </header>
    
    <main>
        <section>
            <div class="sec1">
                <div class="subsec1">
                    <img src="/static/sub-sec.jpg" alt="statue" width="100%">
                </div>
                <div class="subsec2">
                    <h3>Services we offer</h3>
                    <p>At Event-Alchemy, we offer a comprehensive range of services to turn your event dreams into extraordinary realities. From meticulous event planning and coordination to creative design and flawless execution, our dedicated team is your partner in crafting unforgettable experiences. Whether it's a grand wedding, a corporate conference, or a virtual celebration, our services are tailored to your vision. We specialize in integrating innovative technology, sustainable practices, and artistic creativity to deliver events that leave a lasting mark. With unwavering commitment to excellence, we provide an all-encompassing suite of services to ensure your event is not just special, but truly exceptional. Your event journey begins with us, where every detail is meticulously considered, and every moment is a masterpiece waiting to unfold.</p>
                </div>
            </div>
        </section>

        {% if username %}

        <section>
            <div class="sec2">
                <h3>Our Process</h3>
                <div class="sec2-div">
                    <div class="sub-sec2">
                        <h4>What do we aim?</h4>
                        <p>At EventAlchemy, we aim to deliver our clients a wonderful experience that will
                            make their memories shine sparklingly in their minds just like our events.</p>
                            <br>
                            <p>Our vision at Event-Alchemy is to revolutionize the world of event management. We're on a mission to pioneer a new era of event planning, one that seamlessly integrates cutting-edge technology, eco-conscious practices, and the boundless creativity of our team. We envision a world where event sustainability is the standard, where diversity and inclusivity reign supreme, and where every event becomes a platform for change and celebration.</p>
                    </div>
                    <div class="sub-sec2">
                        <h4>Initial consultation</h4>
                        <p>The Initial consultation is just for us to know each other and answer any
                            questions you may have. Understanding the customer's expectations from the event and to deliver
                            an experience that's suitable within their expectations is our <i>Key Responsibility.</i> This
                            consultation can last up to 0ne hour.</p>
                    </div>
                    <div class="sub-sec2">
                        <h4>Full event planning</h4>
                        <p>
                        <ul>
                                <li>Initial consultation</li>
                                <li>Comprehensive meeting with our designers to get an understanding of your preferences.</li>
                                <li>Accompany you to 2 tastings and 3 site visits.</li>
                                <li>Design support.</li>
                                <li>Create detailed timeline of events.</li>
                                <li>Thorough vendor details.</li>
                                <li>Handle clients final touches about the events.</li>
                                <li>Assist with direction of guest seating for ceremony and reception.</li>
                                <li>Access to planners wedding day emergency kit.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div> 
        </section>

        <section id="pricing">
            <div class="pricingh3">
            <h3>Flexible Plans & Pricings</h3>
            <p>Our customizable packages cater to your unique needs, ensuring cost-effective solutions that align with your event goals.</p>
            </div>
            <div class="sec3divmain">
            <div class="sec3">
                <div class="sub3-1">
                    <h3>Premium</h3>
                    <img src="/static/favourites.png" alt="Premium Package" class="pkg" width="30%">
                    <h2><sup>₹</sup>&nbsp;20,000</h2>
                    <ul>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> <span class="bold">Description:</span>includes premium privileges and extensive suite of features.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> Suitable for mid-sized events.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> Responsive customer support.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> <span class="bold">Pricing: </span> ₹2,000 per month or ₹20,000 for a one-time payment.</li>
                    </ul>
                    <br><br>
                    <div class="btn-book">
                        <button type="submit"><a href="/contact" title="Fill our contact form and we will get back to you">Book <i class="fa-solid fa-right-to-bracket"></i></a></button>
                    </div>
                </div>
            </div>
            <div class="sec3">
                <div class="sub3-1" >
                    <h3> Elite</h3>
                    <img src="/static/twostars.png" alt="Elite Package" class="pkg" width="30%">
                    <h2><sup>₹</sup>&nbsp;30,000</h2>
                    <ul>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> <span class="bold">Description:</span>includes advanced features, Elite support, and customization</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> Access to exclusive features.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> Advanced features for large events.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> <span class="bold">Pricing: </span> ₹3,000 per month or ₹30,000 for a one-time payment.</li>
                    </ul>
                    <br><br>
                    <div class="btn-book">
                        <button type="submit"><a href="/contact" title="Fill our contact form and we will get back to you">Book <i class="fa-solid fa-right-to-bracket"></i></a></button>
                    </div>
                </div>
            </div>
            <div class="sec3">
                <div class="sub3-1">
                    <h3>Super Elite</h3>
                    <img src="/static/threestars.png" alt="Super Elite Package" class="pkg" width="30%">
                    <h2><sup>₹</sup>&nbsp;50,000</h2>
                    <ul>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> <span class="bold">Description:</span>customized event management services.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> Pricing depends on event requirements.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> Fully personalized support.</li>
                        <li><img src="/static/check-circle.png" width="20px" height="20px" style="margin-bottom: -5px;"> <span class="bold">Pricing: </span> 50,000 Base price. Extra charge depends on the event.</li>
                    </ul>
                    <br><br>
                    <div class="btn-book">
                        <button type="submit"><a href="/contact" title="Fill our contact form and we will get back to you">Book <i class="fa-solid fa-right-to-bracket"></i></a></button>
                    </div>
                </div>
            </div>  
        </div>
        </section>

        {% else %}
        <section>
            <div class="sec2">
                <h3>Our Process</h3>
                <div class="sec2-div">
                    <div class="sub-sec2">
                        <h4>What do we aim?</h4>
                        <p>At EventAlchemy, we aim to deliver our clients a wonderful experience that will
                            make their memories shine sparklingly in their minds just like our events.</p>
                            <br>
                            <p>Our vision at Event-Alchemy is to revolutionize the world of event management. We're on a mission to pioneer a new era of event planning, one that seamlessly integrates cutting-edge technology, eco-conscious practices, and the boundless creativity of our team. We envision a world where event sustainability is the standard, where diversity and inclusivity reign supreme, and where every event becomes a platform for change and celebration.</p>
                    </div>
                    <div class="sub-sec2">
                        <h4>Initial consultation</h4>
                        <p>The Initial consultation is just for us to know each other and answer any
                            questions you may have. Understanding the customer's expectations from the event and to deliver
                            an experience that's suitable within their expectations is our <i>Key Responsibility.</i> This
                            consultation can last up to 0ne hour.</p>
                    </div>
                    <div class="sub-sec2">
                        <h4>Full event planning</h4>
                        <p>
                        <ul>
                                <li>Initial consultation</li>
                                <li>Comprehensive meeting with our designers to get an understanding of your preferences.</li>
                                <li>Accompany you to 2 tastings and 3 site visits.</li>
                                <li>Design support.</li>
                                <li>Create detailed timeline of events.</li>
                                <li>Thorough vendor details.</li>
                                <li>Handle clients final touches about the events.</li>
                                <li>Assist with direction of guest seating for ceremony and reception.</li>
                                <li>Access to planners wedding day emergency kit.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div> 
        </section>
        

        {% endif %}
    </main>

    <footer>
        <div class="foot-cont">
           <a href="/"> <img src="static/logo.jpeg" alt="EventAlchemy" width="200px"></a>
            <div class="footer0">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/eventSchedule">Event Listings</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/testimonials">Customer Reviews</a></li>
                    <li><a href="/login">Log-in</a></li>
                </ul>
            </div>
            <div class="footer1">
                <h4>Address:</h4>
                <p> 13th floor, Labyrinth Towers, Cornelia Street, 16th Avenue, Wonderland. Pin Code: 401989</p>
            </div>
            <div class="footer1">
                <h4>FAQs</h4>
                <p style="font-size: 16px; color:#fff; letter-spacing: normal; margin: 5px 0;">How can i book for an event?</p>
                <p>You can fill out our Contact form simply and our team will get back to you!</p> <br><br>
                <p style="font-size: 16px; color:#fff; letter-spacing: normal; margin: 5px 0;">What is the payment process like?</p>
                <p>you will have to pay a booking advance amount to us before we proceed with the event plan!</p>
            </div>
        </div>
        <div class="foot-cont2">
            <div class="socials">
                <p>Follow us on social media:</p>
                <div class="socialimg">
    
                <div class="twitter">
                <img src="static/twitter.jpg" alt="twitter" title="twitter" onclick="twitter()" width="40px" height="40px">
            </div>
    
                <div class="instagram">
                <img src="static/instagram2.jpg.jpeg" alt="instagram" title="instagram" onclick="instagram()"  width="40px" height="40px">
            </div>
                <div class="linkedin">
                <img src="static/linkedin.jpg" alt="linked-in" title="linked-in" onclick="linkedin()" width="40px" height="40px">
            </div>
    
                <div class="facebook">
                <img src="static/facebook.jpg" alt="Facebook" title="Facebook" onclick="facebook()" width="40px" height="40px" >
            </div>
                <div class="snapchat">
                <img src="static/snapchat.jpeg" alt="snapchat" title="snapchat" onclick="snapchat()" width="40px" height="40px">
            </div>
            </div>
            </div>
        </div>
        <div id="authorname">
            <p> All rights reserved © EventAlchemy Inc. 2023. Designed by Trupti Bansode.</p>
        </div>
    </footer>
    
    
    
    <script>
    
        function twitter(){
            window.location.href="https://twitter.com/"
        }
    
        function instagram(){
            window.location.href="https://instagram.com/tobesotrupti?igshid=NzZlODBkYWE4Ng=="
        }
    
        function linkedin(){
            window.location.href="https://www.linkedin.com/in/truptibansode"
        }
    
        function facebook(){
            window.location.href="https://www.facebook.com/profile.php?id=100016222260085&mibextid=ZbWKwL"
        }
    
        function snapchat(){
            window.location.href="https://www.snapchat.com/add/trupti1910?share_id=JIdkDfNkgK0&locale=en-US"
        }
    
    </script>
    <script>
        //change url from register.html to another
        function auth01(url) {
            window.location.href = url;
        }


        //function for current active page 
        var currentPageURL = window.location.pathname;

// Get all the <a> elements within the navigation menu
var menuLinks = document.querySelectorAll(".menunav a");

for (var i = 0; i < menuLinks.length; i++) {
    var link = menuLinks[i];
    if (link.getAttribute("href") === currentPageURL) {
        link.parentNode.classList.add("active");
        break; // Stop looping after the first match is found
    }
}
    </script>
</body>

</html>