<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="stylesheet" href="static/css/testimonial.css">
    <link rel="shortcut icon" href="static/logo.jpeg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bonheur+Royale&family=Comic+Neue:wght@700&family=Cookie&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=IM+Fell+DW+Pica:ital@0;1&family=Italiana&family=Karla:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Lobster&family=Lobster+Two&family=Marcellus&family=Merriweather:wght@300&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@0,400;1,500&family=Quintessential&family=Roboto:wght@900&family=Sacramento&family=Satisfy&family=Tangerine&family=WindSong&family=Work+Sans:wght@500&family=Young+Serif&display=swap"
        rel="stylesheet">
        <script src="https://kit.fontawesome.com/226d183df1.js" crossorigin="anonymous"></script>
</head>
<body id="test-body">
   <header>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/"><img src="static/logo.jpeg" alt="logo-eventalchemy" height="60px" width="60px"></a>
            </div>
            <div class="menunav">

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/eventSchedule">Event Listings</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/testimonials">Customer Reviews</a></li>
                    <li><a href="/user-profile">My Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
   </header>
    <main>
        <div class="hero">
            <h1>Testimonials</h1>
            <div class="test-container">
                <div class="indicator">
                    <span class="btn active"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                    <span class="btn"></span>
                </div>
                <div class="testimonial">
                <div class="slide-row" id="slide">
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"Event-Alchemy transformed my ordinary event into pure magic! Their attention to detail and creativity are unmatched."</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                            </div>
                            <h3>Sarah Paul</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Satisfied Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - Office Party</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model1.jpeg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"I couldn't have asked for a better team to handle my wedding. Event-Alchemy made it stress-free and unforgettable!"</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                            </div>
                            <h3>John Doe</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - wedding</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model2.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"Event-Alchemy exceeded my expectations in every way. Professionalism, innovation, and a touch of magic - they have it all!"</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></p>
                            </div>
                            <h3>Jia Oakley</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - Award Night</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model4.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"Event-Alchemy turned my dream event into a reality. I couldn't be happier with the outcome!"</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                            </div>
                            <h3>Sophie Green</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - Engagement Ceremony</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model3.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"Event Alchemy created a whimsical garden party for my bridal shower. The attention to detail was exceptional, and it felt like a fairytale come to life. I was enchanted by their magical touch!"</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></p>
                            </div>
                            <h3>Emily Anderson</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - Bridal Shower</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model5.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"Attending the 'Event Alchemy' charity gala was awe-inspiring. The decor, ambiance, and organization were truly top-notch. It's clear that they are masters of their craft."</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                            </div>
                            <h3>Sophia Mitchell</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - Charity Gala</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model6.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"I celebrated my daughter's birthday with Event Alchemy,it was an unforgettable experience. From the theme to the execution, they made her dream party a reality. We couldn't be happier!"</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></p>
                            </div>
                            <h3>Olivia Johnson</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event - Birthday</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model7.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"Event Alchemy knows how to throw a party! From themed decor to fantastic entertainment, their events are a blast!"</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></p>
                            </div>
                            <h3>William Smith</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Party Organiser</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model8.jpg">
                        </div>
                    </div>
                    <div class="slide-col">
                        <div class="user-text">
                            <p>"I've been to multiple Event Alchemy events, and they never disappoint. Outstanding organization and ambiance make every moment unforgettable."</p>
                            <div class="stars">
                                <p>Ratings: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                            </div>
                            <h3>Arjun Patel</h3>
                            <p style="color: #614111; font-size: 16px;"><em>Happy Customer</em></p>
                            <p style="color: #614111; font-size: 16px;">Event Attendee</p>
                        </div>
                        <div class="user-img">
                            <img src="static/model9.jpg">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
    <footer style="background-color: #90645a;">
        <div class="foot-cont">
           <a href="/"> <img src="static/logo.jpeg" alt="EventAlchemy" width="200px"></a>
            <div class="footer0">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/eventSchedule">Event Listings</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/testimonials">Customer Reviews</a></li>
                    <li><a href="/login">Log-in</a></li>
                </ul>
            </div>
            <div class="footer1">
                <h4>Address:</h4>
                <p> 13th floor, Labyrinth Towers, Cornelia Street, 16th Avenue, Wonderland. Pin Code: 401989</p>
            </div>
            <div class="footer1">
                <h4>FAQs</h4>
                <p style="font-size: 16px; color:#fff; letter-spacing: normal; margin: 5px 0;">How can i book for an event?</p>
                <p>You can fill out our Contact form simply and our team will get back to you!</p> <br><br>
                <p style="font-size: 16px; color:#fff; letter-spacing: normal; margin: 5px 0;">What is the payment process like?</p>
                <p>you will have to pay a booking advance amount to us before we proceed with the event plan!</p>
            </div>
        </div>
        <div class="foot-cont2">
            <div class="socials">
                <p>Follow us on social media:</p>
                <div class="socialimg">
    
                <div class="twitter">
                <img src="static/twitter.jpg" alt="twitter" title="twitter" onclick="twitter()" width="40px" height="40px">
            </div>
    
                <div class="instagram">
                <img src="static/instagram2.jpg.jpeg" alt="instagram" title="instagram" onclick="instagram()"  width="40px" height="40px">
            </div>
                <div class="linkedin">
                <img src="static/linkedin.jpg" alt="linked-in" title="linked-in" onclick="linkedin()" width="40px" height="40px">
            </div>
    
                <div class="facebook">
                <img src="static/facebook.jpg" alt="Facebook" title="Facebook" onclick="facebook()" width="40px" height="40px" >
            </div>
                <div class="snapchat">
                <img src="static/snapchat.jpeg" alt="snapchat" title="snapchat" onclick="snapchat()" width="40px" height="40px">
            </div>
            </div>
            </div>
        </div>
        <div id="authorname">
            <p> All rights reserved © EventAlchemy Inc. 2023. Designed by Trupti Bansode.</p>
        </div>
    </footer>
    
    
    
    <script>
    

    var currentPageURL = window.location.pathname;

// Get all the <a> elements within the navigation menu
var menuLinks = document.querySelectorAll(".menunav a");

for (var i = 0; i < menuLinks.length; i++) {
    var link = menuLinks[i];
    if (link.getAttribute("href") === currentPageURL) {
        link.parentNode.classList.add("active");
        break; // Stop looping after the first match is found
    }
}

        function twitter(){
            window.location.href="https://twitter.com/"
        }
    
        function instagram(){
            window.location.href="https://instagram.com/tobesotrupti?igshid=NzZlODBkYWE4Ng=="
        }
    
        function linkedin(){
            window.location.href="https://www.linkedin.com/in/truptibansode"
        }
    
        function facebook(){
            window.location.href="https://www.facebook.com/profile.php?id=100016222260085&mibextid=ZbWKwL"
        }
    
        function snapchat(){
            window.location.href="https://www.snapchat.com/add/trupti1910?share_id=JIdkDfNkgK0&locale=en-US"
        }
    
    </script>

<script>
    var btn = document.getElementsByClassName('btn');
    var slide = document.getElementById('slide'); 
    

    btn[0].onclick  = function(){
        slide.style.transform = "translateX(0px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[1].onclick  = function(){
        slide.style.transform = "translateX(-800px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[2].onclick  = function(){
        slide.style.transform = "translateX(-1600px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[3].onclick  = function(){
        slide.style.transform = "translateX(-2400px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[4].onclick  = function(){
        slide.style.transform = "translateX(-3200px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[5].onclick  = function(){
        slide.style.transform = "translateX(-4000px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[6].onclick  = function(){
        slide.style.transform = "translateX(-4800px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[7].onclick  = function(){
        slide.style.transform = "translateX(-5600px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }
    btn[8].onclick  = function(){
        slide.style.transform = "translateX(-6400px)";
        for(i=0;i<9;i++){
            btn[i].classList.remove("active"); 
        }
        this.classList.add("active");
    }

    
</script>
  <script>
    var currentIndex = 0;

document.addEventListener('keydown', function (event) {
    if (event.key === 'ArrowLeft') {
        // Move to the previous slide
        currentIndex = Math.max(currentIndex - 1, 0);
        moveSlide(currentIndex);
    } else if (event.key === 'ArrowRight') {
        // Move to the next slide
        currentIndex = Math.min(currentIndex + 1, 8);
        moveSlide(currentIndex);
    }
});

function moveSlide(index) {
    var slide = document.getElementById('slide');
    var btn = document.getElementsByClassName('btn');

    // Calculate the new position based on the index
    var newPosition = -index * 800;

    // Set the new position for the slide
    slide.style.transform = 'translateX(' + newPosition + 'px)';

    // Update the active button
    for (var i = 0; i < 9; i++) {
        btn[i].classList.remove('active');
    }

    btn[index].classList.add('active');
}

  </script>
</body>
</html>